
        <section class="container-fluid center">
            <div id="bottom-boxes-container" class="row main-width">
                <div class="col-sm-12 d-flex flex-column flex-lg-row center">  
                    <div class="outside-box box">
                        <h2>Running out of products?</h2>
                        <p>Lorem ipsum dolor sit amet, consect
                        turadipiscing elit. Integer aliquet.</p>
                        <button id="button" class="center" type="button"><p>Buy now</p><img src="gfx/icons/button-arrow.png" alt="More Info" /></button>
                    </div>
                    <div class="inside-box box">
                        <h2>Bod&#8226&#275 Trainer in your pocket</h2>
                        <p>Lorem ipsum dolor sit amet, consect
                        turadipiscing elit. Integer aliquet.</p>
                        <div class="button-container">
                            <button id="button" class="center" type="button">
                                <img id="button-icon" src="gfx/icons/apple.png" alt="Apple Icon"/>
                                <p>iOS</p>
                                <img src="gfx/icons/button-arrow.png" alt="More Info"/>
                            </button>
                            <button id="button" class="center" type="button">
                                <img id="button-icon" src="gfx/icons/android.png" alt="Android Icon"/>
                                <p>Android</p>
                                <img src="gfx/icons/button-arrow.png" alt="More Info"/>
                            </button>
                        </div>
                    </div>
                    <div class="outside-box box">
                        <h2>Frequently Asked Questions</h2>
                        <p>Lorem ipsum dolor sit amet, consect
                        turadipiscing elit. Integer aliquet.</p>
                        <button id="button" class="center" type="button"><p>Read FAQs</p><img src="gfx/icons/button-arrow.png" alt="More Info" /></button>
                    </div>
                </div>
            </div>
        </section>        
        