
        <header class="container-fluid center">
            <div id="header" class="row main-width">
                <div class="header-container col-12">
                    <div class="logo center"><a class="svg center" href="https://www.getresponse.pl/" target="_blank"><img class="welcome" src="svg/get-response-task-update.svg" alt="Get Response Logo"/></a></div>              
                    <nav class="nav">
                        <ul class="menu list">
                            <li class="menu-item">
                                <a class="menu-item-link" href="#">Dashboard</a></li>
                            <li class="menu-item">
                                <a class="menu-item-link" href="#">Recipes</a></li>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-link" href="#">Challenge</a>
                            </li>
                        </ul>
                        <div class="loggedin-user">
                            <ul class="user list">
                                <li class="user-info user-photo"></li>
                                <li class="user-info user-name">
                                    <a class="user-info-link" href="#"></a>
                                </li>
                            </ul>
                            <div class="dropdown"><img src="gfx/icons/arrow-icon.png" alt="Arrow Dropdown" /></div>
                        </div>
                        <div class="hamburger"><img src="svg/hamburger-icon.svg" alt="Menu Hamburger Icon" /></div>
                    </nav>                           
                </div>
            </div>
        </header>        
                
        