
        <section class="container-fluid center">
            <div id="meal-plan-nav" class="row main-width horizontal-center">
                <div class="col-sm-6 col-md-4 vertical-center order-md-first">
                    <div class="week-progress-container">
                        <p>your 12 week progress</p>
                        <div class="week-progress-bar vertical-center"></div>
                        <div class="week-progress-number"></div>
                    </div>
                </div>
                <div class="week-container d-flex justify-content-between align-items-center col-11 order-last col-sm-6 order-sm-last col-md-4 ">
                    <span class="week-navigation week-nav-back center"><span class="nav-arrow"></span></span>
                    <h2 id="week">Week</h2>
                    <span class="week-navigation week-nav-forward center"><span class="nav-arrow"></span></span>       
                </div>
                <div class="d-flex justify-content-end align-items-center col-sm-6 col-md-4 order-md-last">
                    <div class="diet-type-container"></div>
                </div>
            </div>
        </section>        
    
                
        