      
        <section id="meal-plan-section" class="container-fluid">
            <div id="meal-plan" class="row max-main-width">
                <div class="col-12">
                    <div class="meal-plan-container-info">
                        <ul class="info-column">
                            <li class="day empty"></li>
                            <li class="6am meal border-bn center"><p><strong>6:00</strong> AM</p></li>
                            <li class="9am meal border-bn center"><p><strong>9:00</strong> AM</p></li>
                            <li class="12pm meal border-bn center"><p><strong>12:00</strong> PM</p></li>
                            <li class="3pm meal border-bn center"><p><strong>3:00</strong> PM</p></li>
                            <li class="6pm meal center"><p><strong>6:00</strong> PM</p></li>
                            <li class="diet info border-bn center"></li>
                            <li class="workout info center"><span>Workout<img src="svg/arrow.svg" alt="Arrow Right"/></span></li>
                        </ul>           
                    </div>
                    <div class="meal-plan-container">
                                 
                    </div>
                </div>
            </div>
        </section>        
                
        